.turnList {
	display: inline;
	list-style: none;
	padding: 0;
}

.turnList li {
	display: inline;
}

.turnList li:after {
	content: ', ';
}

.turnList li:last-child:after {
	content: '';
}

.turn {
	border: 2px solid;
}
