.board {
	display: grid;
	grid-template-columns: repeat(10, 50px);
	grid-template-rows: repeat(10, 50px);
}

.square {
	border: 1px solid black;
	grid-row-end: span 1;
	grid-column-end: span 1;
}

.room {
	background-color: lightblue;
	border: 1px solid black;
}
