.board {
	border: 3px solid black;
	display: inline-grid;
	grid-template-rows: repeat(23, 30px);
	grid-template-columns: repeat(22, 30px);
}

.square {
	background-color: lightyellow;
	border: 1px solid black;
	grid-row-end: span 1;
	grid-column-end: span 1;
}

.room {
	background-color: darkkhaki;
	border: 1px solid darkred;
}

.door {
	background-color: yellow;
	border: 1px solid black;
	grid-row-end: span 1;
	grid-column-end: span 1;
}
