.board {
	line-height: 0;
}

.square {
	display: inline-block;
	height: 50px;
	width: 50px;
	border: 1px solid black;
	position: relative;
}

.room {
	background-color: lightblue;
}

.roomLabel {
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 1;
	line-height: normal; /* XXX Is there a better way to do this? */
}
